[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
autopep8 = "*"
pytest = "*"
pytest-cov = "*"
mypy = "*"

[requires]
python_version = "3.7"

[script]
test = "pytest -v --cov=src"
fix = "autopep8 -ivr ./src"
