[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
autopep8 = "*"
pytest = "*"
pytest-cov = "*"
mypy = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest --verbose -s --cov=src ./tests"
fix = "autopep8 -ivr ./src"
fixtest = "autopep8 -ivr ./tests"
lint = "flake8 ./src"
linttest = "flake8 ./tests"

[pipenv]
allow_prereleases = true
